@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Oxygen&family=Rubik:ital@1&display=swap');
h1{
  font-family: 'Bruno Ace SC', cursive;
  text-align: center;
}
.container{
  /* background-color: rgb(215, 156, 84); */
  /* margin: 10px; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60%;
  gap: 20px;
  /* align-items: center; */
}
.input{
  height: 50px;
  font-family: 'Oxygen', sans-serif;
  border:2px solid  aquamarine;
  outline: none;
}
#description{
  height: 120px;
}
button{
  height: 40px;
  /* cursor: pointer; */
  background-color: aquamarine;
  border: none;
  font-family:'Times New Roman', Times, serif;
  text-transform: uppercase;
  font-size: large;
  font-stretch: expanded;
  width: 200px;
  cursor: help;
}
button:disabled {
  cursor: not-allowed;
  opacity: 0.8;
}

.form-box{
  display: flex;
  flex-direction: column;
  gap:5px;
}

.form-box label{
  font-family: 'Rubik', sans-serif;
  color: brown;
}
