@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  margin: 10px;
  width: 70%;
  height: 80vh;
  padding: 10px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
  gap: 10px;
}
.image{
  /* width:150px; */
  height: 50%;
  background-color: antiquewhite;
}
.productname{
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
.button{
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  /* background-color: blanchedalmond; */
  /* height: 100%; */
  /* margin-top: 20%; */
}
.button button{
  padding: 10px;
  width: 100px;
  outline: none;
  background-color: aquamarine;
  cursor: pointer;
  border: none;
}
button:hover{

}

.price::before{
  content: '$';
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  color: chartreuse;
  font-family: 'Nunito Sans', sans-serif;
}
